.outerTable {
  background-color: #FAFAFA;
  color: #5E4D57;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 600px;
  table-layout: fixed;
}

.innerTable {
  table-layout: fixed;
}

.header {
  text-align: center;
  width: 100%;
  a {
    color: #5E4D57;
    text-decoration: none;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 24px;
    width: 100%;
    @media (max-width: 450px) {
      font-size: 30px;
    }
  }
  img {
    width: 100%;
  }
  p {
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 14px;
    width: 100%;
  }
}

.orderNo {
  display: block;
  margin: 0 auto;
  max-width: 510px;
  text-align: center;
  > p:first-of-type {
    display: block;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 330px;
  }
  >p:nth-of-type(2) {
    border-bottom: 1px solid #575256;
    bottom: 0;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 58px;
    padding-bottom: 16px;
    text-align: left;
    @media (max-width: 450px) {
      padding-left: 30px;
    }
    span {
      font-weight: bold;
    }
  }
}

.paymentAndAddress {
  display: block;
  margin: 0 auto;
  max-width: 510px;
  width: 100%;
  table {
    table-layout: fixed;
    width: 100%;
  }
  tr {
    border-bottom: 1px solid #575256;
    display: flex;
    width: 100%;
    @media (max-width: 450px) {
      display: block;
    }
  }
}

.payment {
  display: inline-block;
  margin-top: 30px;
  width: 50%;
  @media (max-width: 450px) {
    display: block;
    width: 100%;
  }
  p {
    font-size: 12px;
    margin: 0;
    @media (max-width: 450px) {
      margin-left: 30px;
    }
  }
  p:first-of-type {
     margin-bottom: 4px;
  }
  p:nth-of-type(2) {
     margin-bottom: 2px;
  }
  span {
    font-weight: bold;
  }
}

.address {
  display: inline-block;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 50%;
  @media (max-width: 450px) {
    display: block;
    width: 100%;
  }
  p {
    font-size: 12px;
    margin: 0;
    @media (max-width: 450px) {
      margin-left: 30px;
    }
  }
  span {
    font-weight: bold;
  }
}

.calories {
  display: block;
  margin: 0 auto;
  max-width: 510px;
  width: 100%;
  p {
    font-size: 12px;
    margin: 0;
    margin-bottom: 4px;
    @media (max-width: 450px) {
      margin-left: 30px;
    }
  }
  span {
    font-weight: bold;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  tr {
    border-bottom: 1px solid #575256;
    display: block;
    width: 100%;
    @media (max-width: 450px) {
      padding-bottom: 30px;
    }
  }
}

.vegeImg {
  display: inline-block;
  @media (max-width: 450px) {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.caloriesValues {
  display: inline-block;
  @media (max-width: 450px) {
    display: block;
    width: 100%;
  }
}

.pricing {
  display: block;
  margin: 0 auto;
  max-width: 510px;
  table {
    width: 100%;
  }
}

.price {
  margin-top: 22px;
  margin-bottom: 56px;
  width: 100%;
  span {
    font-size: 28px;
    font-weight: bold;
  }
  tr {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 450px) {
      justify-content: center;
    }
  }
  tr:nth-of-type(2) {
    margin-top: 36px;
  }
}

.priceDescription {
  display: inline-block;
  max-width: 100px;
  text-align: center;
  width: 50%;
  p {
    font-size: 12px;
    margin: 0;
  }
  p:first-of-type {
    margin-bottom: 4px;
  }
}

.priceAmount {
  display: inline-block;
  max-width: 80px;
  text-align: center;
  width: 50%;
  p {
    font-size: 12px;
    margin: 0;
  }
  p:first-of-type {
    margin-bottom: 4px;
  }
}

.moveToAccount {
  a {
    border: 2px solid #FF7C29;
    color: #FF7C29;
    font-weight: bold;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 14px;
    text-decoration: none;
  }
}

.oddity {
  background-color: #EBD4F1;
  background: linear-gradient(to right, #EBD4F1 0%, #EBD4F1 10%, #F8E7F9 100%);
  display: block;
  margin: 0 auto;
  padding-bottom: 15px;
  a {
    border: 3px solid #5E4D57;
    color: #64545F;
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
  }
  img {
    margin-top: 30px;

  }
  h2 {
    border-bottom: 1px solid #575256;
    margin: 0;
    padding-bottom: 10px;
  }
  p {
    font-size: 10px;
    margin: 0;
    margin-bottom: 26px;
    margin-top: 14px;
  }
  table {
    table-layout: fixed;
    width: 100%;
  }
  tr {
    display: block;
    width: 100%;
    @media (max-width: 450px) {

    }
  }
}

.foodImg {
  display: inline-block;
  max-width: 300px;
  text-align: center;
  width: 40%;
  @media (max-width: 450px) {
    display: block;
    margin: auto;
    width: 100%;
  }
}

.doYouKnow {
  display: inline-block;
  max-width: 300px;
  padding-right: 46px;
  text-align: center;
  width: 45%;
  @media (max-width: 450px) {
    display: block;
    padding-right: 0;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
  }
}

.footer {
  background-color: #CDDFE3;
  display: block;
  padding-bottom: 16px;
}

.media {
  text-align: center;
  width: 100%;
  img {
    margin-bottom: 14px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
  }
}

.certificates {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  img {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.footerText {
  text-align: center;
  width: 100%;
  a {
    color: #5E4D57;
  }
  p {
    font-size: 10px;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
  }
  p:nth-of-type(2) {
    margin-top: 16px;
  }
  p:nth-of-type(3) {
    margin-top: 16px;
  }
}
